a{
    text-decoration: none;
}
li{
    list-style-type: none;
}
header{
    background-color: #eeeeee;
}
.site-navigation{
    display: flex;
    align-items: center;
    width: 640px;
}
.site-navigation a{
    padding:2px 35px;
    display: block;
}
.site-navigation a:hover,
.order-list a:hover{
    color: #fb565a;
    transition: 0.3s;
}
.main-header-logo{
    width: 160px;
    height: 65px;
    }
.main-navigation-wrapper{
    width: 100%;
    background-color: #eeeeee;
}
.main-navigation-wrapper .container{
    display: flex;
    justify-content: space-between;
}
.container{
    width: 1160px;
    margin: 0 auto;
    padding: 0 20px;
}
.order-list{
    max-width: 160px;
    margin-top: 17px;
    padding: 0;
}
.services{
    width: 100%;
    height: 430px;
}
.switch__slides{
    padding: 0;
}
.placing{
    display: flex;
    justify-content: space-between;
}
.services__header1{
    width: 380px;
}
.services__underheader1{
    width: 360px;
}
.slide__image1{
    width: 760px;
    height: 430px;  
}
.slide1{
    display: inline;
}
.services__header2{
    width: 515px;
}
.services__underheader2{
    width: 410px;
}
.slide__image2{
    width: 640px;
    height: 430px;
}
.slide2{
display: none;
}
.services__header3{
    width: 410px;
}
.services__underheader3{
    width: 360px;
}
.slide__image3{
    width: 760px;
    height: 430px;
}
.slide3{
    display: none;
}
.order-content{
    margin-top: 80px;
    padding: 0;
    padding-bottom: 50px;
    width: 1100px;
    height: 350px;
    display: flex;
    justify-content: space-between;
}
.order-text{
width: 260px;
}
.studio{
width: 1160px;
height: 470px;
margin-top: 0%;
padding: 0;
display: flex;
justify-content: space-between;
}
.studio-bio{
    width: 660px;
    height: 525px;
}
.studio-bio-two{
    width: 360px;
    height: 525px;
}
.studio-bio-two-guarantee{
    width: 360px;
    height: 100px;
    display: flex;
}
.qualities{
    padding: 0;
    padding-top: 20px;
    width: 360px;
    height: 100px;
    display: flex;
    justify-content: space-between;
}
.nerds__i{
    margin-bottom: 15px;
}
.partners{
    padding: 0;
    margin: 0;
    width: 1160px;
    height: 180px;
}
.partners-list{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    opacity: 1;
}
.partners-list img:hover,
.partners-list img:focus{
    opacity: 0.5;
    transition: 0.2s;
}

.logo1{
    width: 280px;
    height: 180px;
}
.logo2{
    width: 280px;
    height: 180px;
}
.logo3{
    width: 280px;
    height: 180px;
}
.logo4{
    width: 280px;
    height: 180px;
}

/* КАРТА */
.contacts{
    width: 320px;
    height: 315px;
    background-color: #ffffff;
    position: absolute;
    text-align: center;
    box-shadow: 0px 0px 2px rgba(0,0,0,.8);
}
.contacts-address{
    text-align: left;
    padding-left: 65px;
}   
.write__us{
    padding-right: 100px;
    padding-left: 100px;
    margin-left: 100px;
    display: none;
}
.write__us-show{
    display: block;
    animation-name: bounce;
    animation-duration: 0.6s;
    position: fixed;
    top: 5%;
    left: 0;
    width: 760px;
    height: 500px;
    background-color:white;
    box-shadow: 0 0 15px rgba(90, 70, 70, 0.7);
}
.name-email{
    width: 760px;
    height: 90px;
    display: flex;
    justify-content: space-between;
}
.name{
    resize: none;
    width: 360px;
    height: 46px;
}
.namename{
    width: 360px;
    height: 80px;
}
.E-mail{
    resize: none;
    width: 360px;
    height: 46px;
}
.emailemail{
    width: 360px;
    height: 80px;
}
.letter{
    resize: none;
    width: 760px;
    height: 115px;
    text-align: start;
}
.letterletter{
    width: 760px;
    height: 150px;
}
.line{
    height: 2px;
    width: 100%;
    margin-bottom: 40px;
    background-color: #eeeeee;
    border-radius: 100%;
    display: inline-block;
    text-align: center;
}
.line2{
    height: 2px;
    width: 100%;
    margin-top: 0%;
    margin-bottom: 0px;
    background-color: #eeeeee;
    border-radius: 100%;
    display: inline-block;
    text-align: center;
}
.line3{
    height: 2px;
    width: 100%;
    margin-top: 0%;
    margin-bottom: 40px;
    background-color: #eeeeee;
    border-radius: 100%;
    display: inline-block;
    text-align: center;
}
.redline{
    height: 2px;
    width: 25px;
    margin-top: 0%;
    background-color:red;
    display: inline-block;
    margin-bottom: 5px;
}
/*-----------------------*/


/* FOOTER */
.footer-text-header{
    font-size: 36px;
    line-height: 36px;
    color: #000000;
}
.promo{
    font-size: 16px;
    line-height: 22px;
    color: #444444;
}
.social{
    margin-top: 50px;
    width: 960px;
    height: 120px;
    display: flex;
    justify-content:space-between;
}
.footer-social{
    margin: 0;
    padding: 0;
    width: 260px;
    height: 80px;
    display: flex;
    justify-content: space-between;
}
.footer-text{
    width: 560px;
    height: 80px;
}
.vk{
    height: 80px;
    width: 80px;
    background-color: #e1e1e1;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.fb{
    height: 80px;
    width: 80px;
    background-color: #e1e1e1;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.insta{
    height: 80px;
    width: 80px;
    background-color: #e1e1e1;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-social a:hover{
    background-color: #a8a7a7;
    transition: 0.4s;
}
/*-------------------------------*/
@keyframes bounce {
    0% {transform: translateY(-2000px);}
    70% {transform: translateY(30px);}
    90% {transform: translateY(-10px);}
    0% {transform: translateY(0);}
}
section {
    width: 100%;
    height: 430px;
    background: white;
    }
    .slider {
    position: relative;
    }
    .slider input[type=radio] {
    display: none;
    }
    .slider__wrapper {
    overflow: hidden;
    }
    .slider__list {
    display: flex;
    transition: transform .8s ease;
    }
    .slider__item {
    width: 760px;
    height: 430px;
    margin-right: 400px;
    }
    .slider__controls {
    position: absolute;
    left: 0;
    bottom: -40px;
    width: 100%;
    z-index: 100;
    text-align: center;
    }
    .slider__controls label {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 3px;
    background: #cccccc;
    cursor: pointer;
    border: 4px solid white;
    border-radius: 50%;
    box-shadow: 0px 0px 2px rgba(0,0,0,.8);
    transition: background-color .2s;
    }
    #btn-1:checked ~ .slider__controls label[for="btn-1"],
    #btn-2:checked ~ .slider__controls label[for="btn-2"],
    #btn-3:checked ~ .slider__controls label[for="btn-3"] {
    background-color: #777777;
    }
    #btn-1:checked ~ .slider__wrapper .slider__list {
    transform: translate(0);
    }
    #btn-2:checked ~ .slider__wrapper .slider__list {
    transform: translate(-1160px);
    }
    #btn-3:checked ~ .slider__wrapper .slider__list {
    transform: translate(-2320px);
    }