li{
    list-style-type: none;
}
.main-navigation{
    display: flex;
    align-items: center;
}
.main-header-logo{
    width: 160px;
    height: 65px;
    }
.main-navigation-wrapper{
    width: 100%;
    background-color: #eeeeee;
}
.main-navigation-wrapper .container{
    display: flex;
    justify-content: space-between;
}
.container{
    width: 1160px;
    margin: 0 auto;
    padding: 0 20px;
}
.site-navigation{
    width: 440px;
    margin: 0;
    padding: 0;
}
.order-list{
    width: 160px;
    margin: 0;
    padding: 0;
    justify-content: left;
}
.advantages{
    width: 1160px;
    height: 415px;
    margin-bottom: 80px;
}
.ggg{
    background-color: #eeeeee;
    width: 100%;
}
.switch-slides{
    padding: 0;
    display: flex;
    justify-content: space-between;
}
.slider-hat{
    width: 380px;
}
.hat-description{
    width: 380px;
}
.slide1{
width: 750px;
}
.order-content{
    margin-top: 0;
    padding: 0;
    padding-bottom: 80px;
    width: 1100px;
    height: 350px;
    display: flex;
    justify-content: space-between;
}
.order-text{
width: 260px;
}
.studio{
width: 1160px;
height: 525px;
margin: 0;
padding: 0;
display: flex;
justify-content: space-between;
}
.studio-bio{
    width: 660px;
    height: 525px;
}
.studio-bio-two{
    width: 360px;
    height: 525px;
}
.studio-bio-two-guarantee{
    width: 360px;
    height: 100px;
    display: flex;
}
.qualities{
    padding: 0;
    padding-top: 40px;
    width: 360px;
    height: 100px;
    display: flex;
    justify-content: space-between;
}
.partners{
    padding: 0;
    margin: 0;
    width: 1160px;
    height: 180px;
}
.partners-list{
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: space-between;
}


.logo1{
    width: 280px;
    height: 180px;
}
.logo2{
    width: 280px;
    height: 180px;
}
.logo3{
    width: 280px;
    height: 180px;
}
.logo4{
    width: 280px;
    height: 180px;
}


/* КАРТА */
.contacts{
    margin-top: 135px;
    width: 320px;
    height: 315px;
    background-color: #ffffff;
    position: absolute;
    text-align: center;
}
.map{
    margin-top: 80px;
    width: 100%;
    height: 420px;
    margin-bottom: 70px;
}
.marker{
    padding-left: 675px;
    padding-top: 115px;
    position: absolute;
}
/*-----------------------*/


/* FOOTER */
.social{
    width: 960px;
    height: 80px;
    padding: 0;
    margin-bottom: 70px;
    display: flex;
    justify-content: space-between;
    
}
.footer-social{
    width: 260px;
    height: 80px;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
}
.vk{
    height: 80px;
    width: 80px;
    background-color: #e1e1e1;
    border-radius: 100%;
    display: inline-block;
    text-align: center;
}
.fb{
    height: 80px;
    width: 80px;
    background-color: #e1e1e1;
    border-radius: 100%;
    display: inline-block;
    text-align: center;
}
.insta{
    height: 80px;
    width: 80px;
    background-color: #e1e1e1;
    border-radius: 100%;
    display: inline-block;
    text-align: center;
}
/*-------------------------------*/