.main-header{
    margin-bottom: 40px;
}
.main-navigation{
    display: flex;
    align-items: center;
}
.main-header-logo{
    width: 160px;
    height: 65px;
    }
.main-navigation-wrapper{
    width: 100%;
    margin-bottom: 40x;
    background-color: #eeeeee;
}
.main-navigation-wrapper .container{
    display: flex;
    justify-content: space-between;
}
.container{
    width: 1160px;
    margin: 0 auto;
    padding: 0 20px;
}
.site-navigation{
    width: 440px;
    margin: 0;
    padding: 0;
}
.order-list{
    width: 160px;
    margin: 0;
    padding: 0;
    justify-content: left;
}

