body {
  

font-family: "Roboto";
font-size: 20px;
line-height: 24px;
font-weight: 700;
color: black;

background-color:white;
background-position: top center;
}

.main-header{
    margin-bottom: 80px;
}
.main-navigation{
    font-size: 16px;
    line-height: 30px;
    align-items: center;
}
.main-navigation a{
    color: #000000;
    text-transform: uppercase;
}
.container{
    width: 1160px;
    margin: 0 auto;
    padding: 20px;
}
.main-header-logo{
width: 160px;
height: 160px; /*???*/
}
.site-navigation{
    margin 0;
    padding: 0;
    min-height: 70px;
    width: 600px;
}
.main-navigation-wrapper{
    margin-bottom: 40px;
    width: 100%;
    background-color:#eeeeee;
}
.main-navigation-wrapper .container{
    display: flex;
    justify-content: space-between; /*по краям*/
}
.order-list{
    font-size: 16px;
    line-height: 30px;
    margin 0;
    padding: 0;
    min-height: 70px;
    width: 160px;
}
.order-list a{
    color: #000000;
    text-transform: uppercase;
}

.slider-hat{
    font-size: 55px;
    line-height: 55px;
    color: #000000;
}
.hat-description{
    font-size: 16px;
    line-height: 24px;
    color:#283136;
}

header{
    background-color: #eeeeee;
}
  .learn-more{
      font-size: 16px;
      line-height: 18px;
      color: #000000; /*ПОТОМ ИЗМЕНИТЬ*/
      text-transform: uppercase;
      height: 50px;
    width: 240px;
    background-color: #fb565a;
    border-radius: 3%;
    display: inline-block;
  }
 