body {
    margin: 0;
padding: 0;

font-family: "Roboto";
font-size: 20px;
line-height: 24px;
font-weight: 700;
color: black;

background-color:white;
background-position: top center;
}
li{
    list-style-type: none;
}
.main-header{
    margin-bottom: 1px;
}

.main-navigation{
    font-size: 16px;
    line-height: 30px;
}
.main-navigation a{
    color: #000000;
    text-transform: uppercase;
    display: flex;
    align-items: center;
}
.main-header-logo{
width: 160px;
height: 65px;
}
.main-navigation-wrapper{
    width: 100%;
    margin-bottom: 40x;
    background-color: #eeeeee;
}
.main-navigation-wrapper .container{
    display: flex;
    justify-content: space-between;
}
.container{
    width: 1160;
    margin: 0 auto;
    padding: 0 20px;
}
.site-navigation{
    width: 440px;
    margin: 0;
    padding: 0;
}
.order-list{
    width: 160px;
    font-size: 16px;
    line-height: 30px;
    margin: 0;
    padding: 0;
    justify-content: left;
}
.order-list a{
    color: #000000;
    text-transform: uppercase;
}

.slider-hat{
    font-size: 55px;
    line-height: 55px;
    color: #000000;
}
.hat-description{
    font-size: 16px;
    line-height: 24px;
    color:#283136;
}

header{
    background-color: #eeeeee;
}
  .learn-more{
      font-size: 16px;
      line-height: 18px;
      color: #000000; /*ПОТОМ ИЗМЕНИТЬ*/
      text-transform: uppercase;
      height: 50px;
    width: 240px;
    background-color: #fb565a;
    border-radius: 3%;
    display: inline-block;
  }