body {
    margin: 0;
padding: 0;

font-family: "Roboto";
font-size: 20px;
line-height: 24px;
font-weight: 700;
color: black;

background-color:white;
background-position: top center;
}
li{
    list-style-type: none;
}
.site-navigation{
    font-size: 16px;
    line-height: 30px;
}
.main-navigation a{
    color: #000000;
    text-transform: uppercase;
}
.order-list{
    font-size: 16px;
    line-height: 30px;
}
.order-list a{
    color: #000000;
    text-transform: uppercase;
    display: block;
    padding: 2px 20px;
}
.services__header1{
    font-size: 55px;
    line-height: 55px;
    color: #000000;
}
.services__underheader1{
    font-size: 16px;
    line-height: 24px;
    color: #283136;
}
.services__header2{
    font-size: 55px;
    line-height: 55px;
    color: #000000;
}
.services__underheader2{
    font-size: 16px;
    line-height: 24px;
    color: #283136;
}
.services__header3{
    font-size: 55px;
    line-height: 55px;
    color: #000000;
}
.services__underheader3{
    font-size: 16px;
    line-height: 24px;
    color: #283136;
}
.learn__more{
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: #ffffff;
    width: 240px;
    height: 50px;
    background-color: #fb565a;
    display: inline-block;
    text-align: center;
    border-radius: 3px;
}
h2{
    font-size: 24px;
    line-height: 30px;
    text-transform: uppercase;
}
.order-text{
    font-size: 16px;
    line-height: 24px;
    color: #283136;
}
.order-button-one{
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: #eeeeee;
    width: 160px;
    height: 50px;
    background-color: #fb565a;
    display: inline-block;
    text-align: center;
    border-radius: 3px;
}
.order-button-two{
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: #eeeeee;
    width: 160px;
    height: 50px;
    background-color: #00ca74;
    display: inline-block;
    text-align: center;
    border-radius: 3px;
}
.order-button-three{
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: #eeeeee;
    width: 160px;
    height: 50px;
    background-color: #efc84a;
    display: inline-block;
    text-align: center;
    border-radius: 3px;
}
.studio-header{
    font-size: 45px;
    line-height: 45px;
    color: #000000;
}
.studio-header-text{
    font-size: 16px;
    line-height: 24px;
    color: #283136;
}
h3{
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    text-transform: uppercase;
}
.studio-development{
    font-size: 16px;
    line-height: 24px;
    color: #283136;
}
.qualities{
    font-size: 16px;
    line-height: 18px;
    color: #283136;
}
b{
    font-size: 45px;
    line-height: 10,06px;
    color: #000000;
    
}
.sub{
    text-align: top;
}

.contacts-head{
    font-size: 18px;
    line-height: 30px;
    color: #000000;
    text-transform: uppercase;
    margin-top: 50px;
}
.contacts-address{
    font-size: 16px;
    line-height: 18px;
    color: #666666;
}
.contact-button{
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: #eeeeee;
    width: 220px;
    height: 50px;
    background-color: #fb565a;
    display: inline-block;
    text-align: center;
    border-radius: 3px;
    margin-top: 30px;
}
.write-header{
    font-size: 45px;
    line-height: 45px;
    color: #000000;
}
.send-button{
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: #eeeeee;
    width: 220px;
    height: 50px;
    background-color: #fb565a;
    display: inline-block;
    text-align: center;
    border-radius: 3px;
    margin-top: 30px;
}
.close-button{
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: #eeeeee;
    width: 220px;
    height: 50px;
    background-color: #fb565a;
    display: inline-block;
    text-align: center;
    border-radius: 3px;
    margin-top: 30px;
}
.write-data{
    font-size: 16px;
    line-height: 18px;
    color: #000000;
}
/* FOOTER */
.footer-text-header{
    font-size: 36px;
    line-height: 36px;
    color: #000000;
}
.promo{
    font-size: 16px;
    line-height: 22px;
    color: #444444;
}
/*------------------*/